*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0c325a;
    /* height: 85vh; */
}


/* ---ROW-CLEARFIX */
.row:after{
    content: '';
    display: table;
    clear: both;
}



/*-------------STRUTTURA-NAVBAR -----------*/

nav{
    width: 100%;
    height: 80px;
    padding-top: 18px;
}

nav > div{
    display: inline-block;
}

nav > div:first-child{
    width: 60%;
}

nav > div:last-child{
    width: 40%;
}


/*-----LOGO AND LINK---NAVBAR----- */

#logo, .menu_Bar{
    display: inline-block;
}

img{
    vertical-align: middle;
    padding-bottom: 9px;
}

nav ul{
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}

nav ul > li{
    display: inline-block;
    margin-left: 20px;

}

nav ul > li a{
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
}




/* -----SECTION-TITLE----*/

.title{
    width: 50%;
    display: inline-block;
    float: left;
}

.container-header{
    height: 100%;
    background: url('img/background-header.png') no-repeat;
    background-size: 70%;
    background-position: bottom right;
}

.title > h1{
    font-size: 50px;
}




/* -----------MAIN------------- */

.container-header-main{
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}

.container-header-main > h3{
    margin-bottom: 10px;
}




/*----SECTION IMG-PATH COURSE---*/
.col-33 > img{
    width: 200px;
    height: 180px;
}

.hr-col-33{
    width: 80px;
    margin-left: calc(100% / 2 - 80px / 2);
}



/* -----DISCOVER US SECTION----- */

.col-60 > img{
    width: 400px;
    height: 400px;
}



/*------COLUMN-----*/

.col-33{
    display: inline-block;
    float: left;
    width: calc(100% / 3);
    text-align: center;
    padding: 0 15px;
}

.col-40{
    display: inline-block;
    float: left;
    width: 40%;
}

.col-60{
    display: inline-block;
    float: left;
    width: 60%;
}


/* -------BUTTON------*/
#registration button{
    border-radius: 5px;
    font-size: 1em;
    color: #ffffff;
}

#button-login{
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0);
    border: solid  1px;
}

#button-signing_up{
    padding: 5px 10px;
}

.container-buttons_nav{
    display: inline-block;
}

#button-signing_up-title{
    padding: 20px 10px;
    font-size: 1em;
    border-radius: 10px;
}


/* Utility */

.text-family-Rubik{
    font-family: 'Rubik', sans-serif;
}

.bg-green{
    background-color: #7cbc27;
}

.bg-lightgrey{

    background-color: #d3d3d3;
}

.text-color_green{
    color: #7cbc27;
}

.text-color_grey{
    color: #606060;
}

.text-color_blue{
    color: #1b7ef7;
}


.text_white{
    color: #ffffff;
}

.text_size-10px{
    font-size: 10px;
    font-weight: bold;
}

.text_size-20px{
    font-size: 15px;
    font-weight: bold;
}

.text_UpperCase{
    text-transform: uppercase;
}

.m-top_150px{
    margin-top: 150px;
}

.m-top_50px{
    margin-top: 50px;
}

.m-bottom_50px{
    margin-bottom: 50px;
}

.m-right_150px{
    margin-right: 150px;
}

.m-left_150px{
    margin-left: 150px;
}
.m-left_50px{
    margin-left: 50px;
}

.m-bottom_25px{
    margin-bottom: 25px;
}

.m-top_25px{
    margin-top: 25px;
}

.m-right_25px{
    margin-right: 25px;
}

.m-left_25px{
    margin-left: 25px;
}

.p-bottom_25px{
    padding-bottom: 50px;
}

.p-top_25px{
    padding-top: 50px;
}
