*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* debug */
header{
    background-color: #0c325a;
    height: 90vh;
}


/* ---ROW-CLEARFIX */
.row:after{
    content: '';
    display: table;
    clear: both;
}


/*-------------STRUTTURA-NAVBAR -----------*/
nav{
    width: 100%;
    height: 80px;
    padding-top: 18px;
}

nav > div{
    display: inline-block;
}

nav > div:first-child{
    width: 60%;
}

nav > div:last-child{
    width: 40%;
}


/*-----LOGO AND LINK---NAVBAR----- */

#logo, .menu_Bar{
    display: inline-block;
}

img{
    vertical-align: middle;
    padding-bottom: 9px;
}

nav ul{
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}

nav ul > li{
    display: inline-block;
    margin-left: 20px;

}

nav ul > li a{
    font-size: 11px;
    text-decoration: none;
    color: white;
}


/* -----SECTION-TITLE----*/

.title{
    width: 50%;
    display: inline-block;
    float: left;
}

.container-header{
    height: 100%;
    background: url('img/background-header.png') no-repeat;
    background-size: 70%;
    background-position: bottom right;

}

.title > h1{
    font-size: 50px;
}


/* -------BUTTON------*/
#registration button{
    display: inline-block;
    border-radius: 5px;
    font-size: 1em;
    color: white;
}

#button-login{
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0);
    border: solid white 1px;
}

#button-signing_up{
    padding: 5px 10px;
}

.container-buttons_nav{
    display: inline-block;
}

#button-signing_up-title{
    padding: 20px 10px;
    font-size: 1em;
    border-radius: 10px;
}


/* Utility */

.text-family-Rubik{
    font-family: 'Rubik', sans-serif;
}

.text_white{
    color: white;
}

.text_size-10px{
    font-size: 10px;
    font-weight: bold;
}

.text_UpperCase{
    text-transform: uppercase;
}

.m-top_150px{
    margin-top: 150px;
}

.m-left_150px{
    margin-left: 150px;
}
.m-left_50px{
    margin-left: 50px;
}

.m-bottom_25px{
    margin-bottom: 25px;
}

.bg-green{
    background-color: #7cbc27;
}
